.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about__title {
  margin-bottom: 12px;
}

.about__lead {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.about__content {
  margin-bottom: 36px;

  p {
    margin-top: 8px;
    margin-bottom: 8px;

    &:not(:first-child) {
      display: none;
    }
  }
}

.about__media {
  margin-left: -15px;
}

.about__player {
  width: 320px;
  height: 170px;
}

.about__image {
  width: 320px;
  margin-bottom: 36px;

  img {
    display: block;

    height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__lead {
    font-size: 20px;
  }

  .about__content {
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .about__image {
    width: auto;
    margin: 0 auto;

    img {
      width: 678px;
      height: 345px;
    }
  }

  .about__media {
    position: relative;
    margin-left: 0;
    padding-bottom: 85px;
  }

  .about__player {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 270px;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 120px;
    padding-bottom: 125px;
    text-align: left;
  }

  .about__wrapper {
    display: flex;
    column-gap: 45px;
  }

  .about__text {
    width: 355px;
  }


  .about__title {
    margin-bottom: 25px;
  }

  .about__lead {
    margin-bottom: 95px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__content {
    width: auto;
    margin-bottom: 0;

    p:not(:first-child) {
      display: block;
    }
  }

  .about__media {
    width: 760px;
    padding-bottom: 115px;
    padding-left: 100px;
  }

  .about__image {
    img {
      width: 660px;
      height: 400px;
    }
  }

  .about__player {
    left: 0;
    width: 360px;
    height: 230px;
    transform: none;
  }
}
