.accordion-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion-item--no-js {
  .accordion-item__content {
    height: auto;
  }
}

.accordion-item__header {
  display: flex;
  column-gap: 22px;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

.accordion-item__button {
  flex-shrink: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    .accordion-item__button-icon {
      background-color: $bg-dark-blue;
    }

    .accordion-item__button-icon::before,
    .accordion-item__button-icon::after {
      background-color: $base-white;
    }
  }

  &:focus-visible {
    .accordion-item__button-icon {
      background-color: $divider;
    }

    .accordion-item__button-icon::before,
    .accordion-item__button-icon::after {
      background-color: $base-white;
    }
  }

  &:active {
    .accordion-item__button-icon {
      background-color: $bg-dark-blue;
    }

    .accordion-item__button-icon::before,
    .accordion-item__button-icon::after {
      background-color: $base-white;
    }

    .accordion-item__button-icon::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    .accordion-item__button-icon::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &:disabled {
    .accordion-item__button-icon {
      opacity: 0.3;
      pointer-events: none;
      background-color: transparent;
    }

    .accordion-item__button-icon::before,
    .accordion-item__button-icon::after {
      background-color: $bg-dark-blue;
    }
  }
}

.accordion-item__button-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $bg-dark-blue;
  border-radius: 50%;
  transition: 0.2s ease-in;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 1px;
    background-color: $bg-dark-blue;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.accordion-item__button--disabled .accordion-item__button-icon {
  opacity: 0.3;
  pointer-events: none;
  background-color: transparent;

  &::before,
  &::after {
    background-color: $bg-dark-blue;
  }
}

.accordion-item--active .accordion-item__button-icon {
  background-color: $bg-dark-blue;

  &::before,
  &::after {
    background-color: $base-white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.accordion-item__content {
  height: 0;
  padding-right: 26px;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;

  &--animation {
    transition: height 0.2s ease-in;
  }
}

.accordion-item__content-wrapper {
  padding-top: 20px;

  p {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .accordion-item {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .accordion-item__header {
    h3 {
      width: 500px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  .accordion-item__button-icon {
    margin-top: 0;
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      width: 20px;
    }
  }

  .accordion-item__content {
    width: 560px;
    padding-right: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .accordion-item__content-wrapper {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .accordion-item {
    padding-bottom: 22px;
  }

  .accordion-item__header {
    h3 {
      width: 660px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .accordion-item__content {
    width: 660px;
  }

  .accordion-item__content-wrapper {
    padding-top: 23px;
  }
}
