.contacts-list {
  @include list-reset;
}

.contacts-list__item {
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.contacts-list__content {
  display: block;
  margin: 0;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: $base-primary;

  &[href] {
    &:hover {
      opacity: 0.6;
    }

    &:focus,
    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 13px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $divider;
      transform: translateX(-50%);
    }
  }

  .contacts-list__item {
    margin-bottom: 0;

    &--address {
      order: 1;
    }

    &--phone {
      order: 2;
    }

    &--schedule {
      order: 3;
    }

    &--email {
      order: 4;
    }
  }

  .contacts-list__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
  }

  .contacts-list__content {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    column-gap: 120px;
    row-gap: 14px;
  }

  .contacts-list__title {
    margin-bottom: 5.5px;
  }
}
