.contacts {
  padding-top: 37px;
  padding-bottom: 37px;
}

.contacts__title {
  margin-bottom: 37px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__list {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 60px;
    padding-bottom: 69px;
    border-top: 1px solid $divider;
  }

  .contacts__wrapper {
    width: 580px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__list {
    width: auto;
  }
}
