.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts__title {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__list {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: auto;
    padding-right: 0;
  }

  .contacts__list {
    width: auto;
  }
}
