.faq-tabs__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;
}

.faq-tabs__button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $base-primary;
  border: 1px solid $tab-border;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-color: $base-primary;
  }

  &:focus {
    border-color: $base-primary;
    background-color: $base-white;

    &:hover {
      border-color: $base-primary;
      background-color: $base-white;
    }
  }

  &:active {
    padding: 15px 21px;
    color: $base-white;
    border: none;
    background-image: $bg-btn-gradient;
  }

  &:disabled {
    color: #c8c9cc;
    border-color: $tab-border;
    pointer-events: none;
  }

  &--disabled {
    color: #c8c9cc;
    border-color: $tab-border;
    pointer-events: none;

    &:focus {
      border-color: $tab-border;
      background-color: transparent;
    }
  }

  &--active {
    padding: 15px 21px;
    color: $base-white;
    border: none;
    background-image: $bg-btn-gradient;
  }
}

.faq-tabs__tab {
  display: none;

  &--current {
    display: block;
  }
}

.faq-tabs__tab-item {
  border-bottom: 1px solid $divider;
}

@media (min-width: $tablet-width) {
  .faq-tabs__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 45px;
  }

  .faq-tabs__button {
    padding: 17px 23px;
    font-size: 18px;
    line-height: 18px;

    &:active {
      padding: 18px 24px;
    }

    &--active {
      padding: 18px 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .faq-tabs {
    display: flex;
    column-gap: 40px;
  }

  .faq-tabs__list {
    display: block;
    width: 260px;
    flex-shrink: 0;
    margin-top: 1px;
  }

  .faq-tabs__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .faq-tabs__content {
    width: 860px;
  }

  .faq-tabs__button {
    padding-top: 18px;
    padding-bottom: 16px;

    &:active {
      padding: 18px 16px;
    }

    &--active {
      padding: 18px 16px;
    }

    // &--active {
    //   padding-top: 19px;
    //   padding-bottom: 17px;
    // }
  }
}
