.faq {
  padding-top: 71px;
  padding-bottom: 70px;
  background-color: $bg-light;
}

.faq__title {
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .faq {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  .faq__title {
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .faq__title {
    width: fit-content;
    margin-bottom: 49px;
  }
}
