.features {
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: $bg-light;
}

.features__title {
  margin-bottom: 40px;
}

.features__list {
  @include list-reset;

  @media (max-width: $mobile-width-only) {
    width: 100vw;
    margin-left: calc((((100vw - 320px) / 2) + 15px) * -1);
  }
}


.features__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &--custom {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__title {
    margin-bottom: 50px;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
  }

  .features__item {
    margin-bottom: 0;

    &--custom {
      grid-column: 1 / -1;
      width: 320px;
      margin: 0 auto;
    }
  }
}
