.form__label {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__button {
  width: 100%;
  margin-top: 36px;
}

@media (min-width: $tablet-width) {
  .form {
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 12px;
    }
  }

  .form__label {
    margin-bottom: 0;
  }

  .form__button {
    grid-column: 1 / -1;
    margin-top: 0;
  }
}
