.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $base-white;
  background-color: $bg-dark;
}

.main-footer__logo {
  margin-bottom: 30px;
}

.main-footer__nav {
  margin-bottom: 28px;
  margin-left: -10px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .main-footer__wrapper {
    display: flex;
  }

  .main-footer__logo {
    margin-bottom: 0;
    margin-right: auto;
  }

  .main-footer__nav {
    max-width: 430px;
    margin: 0 auto;
  }

  .main-footer__social {
    width: 105px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-footer__nav {
    max-width: 840px;
  }

  .main-footer__social {
    width: auto;
    max-width: 140px;
  }
}
