.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $base-white;
  background-color: $bg-dark;
}

.main-footer__logo {
  margin-bottom: 26px;
}

.main-footer__nav {
  margin-bottom: 24px;
  margin-left: -10px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 41px;
    padding-bottom: 42px;
  }

  .main-footer__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .main-footer__logo {
    margin-top: 3px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .main-footer__nav {
    max-width: 430px;
    margin: 0 auto;
  }

  .main-footer__social {
    width: 105px;
    margin-left: auto;
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 36px;
    padding-bottom: 38px;
  }

  .main-footer__wrapper {
    align-items: flex-start;
  }

  .main-footer__logo {
    width: 130px;
    height: 26px;
    margin-right: auto;
    margin-top: 4px;
  }

  .main-footer__nav {
    max-width: 840px;
  }

  .main-footer__social {
    width: auto;
    margin-top: 4px;
    max-width: 140px;
  }
}
