.nav-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 10px;
}

.nav-list__link {
  display: block;
  padding: 4px 9px;
  line-height: 20px;
  font-weight: 400;
  color: $base-white;
  text-decoration: none;
  border: 1px solid transparent;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $base-white;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-underline-position: under;
  }

  &:focus {
    border-color: $base-white;
    outline: none;
  }

  &:active {
    text-decoration: none;
    border-color: transparent;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;

    &:focus {
      border-color: transparent;
    }
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    column-gap: 11px;
  }

  .nav-list__link {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    column-gap: 62.7px;
  }
}
