.offers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.offers__title {
  margin-bottom: 40px;
}

.offers__list {
  @include list-reset;
}

.offers__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &--custom {
    margin-bottom: 40px;

    @media (max-width: $mobile-width-only) {
      width: 100vw;
      margin-left: calc((((100vw - 320px) / 2) + 15px) * -1);
    }
  }
}

@media (min-width: $tablet-width) {
  .offers {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .offers__title {
    margin-bottom: 35px;
  }

  .offers__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 35px;
  }

  .offers__item {
    margin-bottom: 0;

    &--custom {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .offers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .offers__title {
    margin-bottom: 70px;
  }

  .offers__list {
    grid-template-rows: 1fr min-content;
    column-gap: 40px;
    row-gap: 30px;
  }

  .offers__item {
    align-self: end;

    &--custom {
      grid-column: auto;
      grid-row: span 2;
    }
  }
}
