.offers-card {
  text-align: center;

  &:not(.offers-card--dark) {
    display: flex;
    flex-direction: column;
    padding: 21px;
    padding-bottom: 15px;
    color: $bg-dark-blue;
    border-width: 7px;
    border-style: solid;
    border-image-source: $alt-bg-btn-gradient;
    border-image-slice: 1;

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .offers-card__more-button {
      color: $bg-dark-blue;
    }
  }
}

.offers-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.offers-card__text {
  flex-grow: 1;

  * {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  h3 {
    margin: 0;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
  }
}

.offers-card__more-button {
  display: block;
  width: fit-content;
  margin: 2px auto 0;
  padding: 9px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: $divider;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-underline-position: under;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    text-decoration-color: $bg-dark-blue;
    opacity: 0.8;
  }

  &:focus {
    text-decoration-color: transparent;
    border-color: $bg-dark-blue;
    outline: none;
  }

  &:active {
    border-color: transparent;
    text-decoration-color: $bg-dark-blue;
  }

  &:disabled {
    text-decoration-color: $bg-dark-blue;
    opacity: 0.3;
    pointer-events: none;
  }

  &--disabled {
    text-decoration-color: $bg-dark-blue;
    opacity: 0.3;
    pointer-events: none;

    &:focus {
      opacity: 0.3;
      text-decoration-color: $bg-dark-blue;
      border-color: transparent;
    }
  }
}


.offers-card--dark {
  .offers-card__content {
    width: 260px;
    margin: 0 auto;
    padding: 31px 0 25px;
  }

  h3 {
    margin-bottom: 28px;
  }

  h3 * {
    display: block;
    margin-top: 8px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
  }

  .offers-card__more-button {
    margin-top: 11px;
    text-decoration-color: $base-white;

    &:focus {
      text-decoration-color: transparent;
      border-color: $base-white;
    }
  }

  .offers-card__more-button--disabled {
    opacity: 0.5;

    &:focus {
      opacity: 0.5;
      text-decoration-color: $base-white;
      border-color: transparent;
    }
  }
}


@media (min-width: $tablet-width) {
  .offers-card {
    text-align: left;

    &:not(.offers-card--dark) {
      padding: 20px;
      padding-bottom: 16px;

      .offers-card__content {
        h3 {
          margin-bottom: 10px;
          font-size: 26px;
          line-height: 26px;
        }
      }
    }
  }

  .offers-card__more-button {
    margin-top: 13px;
    margin-left: -8px;
    margin-right: 0;
  }

  .offers-card--dark {
    .offers-card__content {
      padding: 40px 25px 36px;
    }

    .offers-card__text {
      font-size: 18px;
      line-height: 24px;
      word-wrap: break-word;

      h3 {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 24px;
      }

      h3 * {
        margin-top: 20px;
        font-size: 70px;
        line-height: 70px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .offers-card {
    &:not(.offers-card--dark) {
      padding: 21px 20px 17px;
    }

    &--dark {
      .offers-card__content {
        padding-left: 45px;
        padding-right: 45px;
      }

      .offers-card__text {
        h3 {
          font-size: 26px;
          line-height: 26px;
        }
      }
    }
  }

  .offers-card__more-button {
    margin-left: -10px;
    margin-top: 20px;
  }
}
