.player {
  position: relative;
  width: 320px;
  height: 170px;
  background-color: $base-primary;
}

.player__video {
  width: 320px;
  height: 170px;
  border: none;

  &--hidden {
    display: none;
  }
}

.player__placeholder {
  position: relative;

  img {
    display: block;
    width: 320px;
    height: 170px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: $base-white;
  background-image: $bg-btn-gradient;
  transform: translate(-50%, -50%);
  cursor: pointer;

  svg {
    margin-left: 2px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    border: 2px solid $bg-banner;
    opacity: 0.2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    background-color: $base-white;
    mask-image: url("../../__spritemap#sprite-play-icon-view");
    mask-position: center;
    mask-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $base-white;
    background-image: none;

    &::before {
      border-color: $base-primary;
      opacity: 0.6;
    }

    &::after {
      background-color: rgba(16, 38, 84, 0.6);
    }
  }

  &:focus {
    background-color: #c8c9cc;
    background-image: none;

    &::before {
      border-color: $base-primary;
      opacity: 1;
    }

    &::after {
      background-color: $base-primary;
    }
  }

  &:active {
    width: 42px;
    height: 42px;
    background-color: $base-white;
    background-image: none;

    &::before {
      border-color: $base-primary;
      opacity: 1;
    }

    &::after {
      background-color: $base-primary;
    }
  }

  &:disabled {
    background-color: $base-white;
    background-image: none;
    opacity: 0.4;
    pointer-events: none;

    &::before {
      border-color: $base-primary;
      opacity: 1;
    }

    &::after {
      background-color: $base-primary;
    }
  }
}

.player__button--disabled {
  background-color: $base-white;
  background-image: none;
  opacity: 0.4;
  pointer-events: none;

  &::before {
    border-color: $base-primary;
    opacity: 1;
  }

  &::after {
    background-color: $base-primary;
  }

  &:focus {
    background-color: $base-white;
  }
}

@media (min-width: $tablet-width) {
  .player {
    width: 270px;
    height: 170px;
  }

  .player__video {
    width: 270px;
    height: 170px;
  }

  .player__placeholder {
    position: relative;

    img {
      width: 270px;
      height: 170px;
    }
  }
}

@media (min-width: $desktop-width) {
  .player {
    width: 360px;
    height: 230px;
  }

  .player__video {
    width: 360px;
    height: 230px;
  }

  .player__placeholder {
    img {
      width: 360px;
      height: 230px;
    }
  }

  .player__button {
    width: 72px;
    height: 72px;

    &::before {
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 17px;
      height: 17px;
    }

    &:active {
      width: 58px;
      height: 58px;
    }
  }
}
