.price-tabs__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.price-tabs__button {
  position: relative;
  padding: 0;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $alt-grey-opacity;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);

    &::before {
      background-color: #787878;
    }
  }

  &:focus {
    color: $base-primary;

    &::before {
      background-color: $base-primary;
    }
  }

  &:active {
    color: $base-primary;

    &::before {
      background-color: $bg-banner;
    }
  }

  &:disabled {
    color: $base-primary;
    opacity: 0.3;
    pointer-events: none;

    &::before {
      background-color: $base-primary;
    }
  }
}

.price-tabs__button--active {
  color: $base-primary;
  pointer-events: none;

  &::before {
    background-color: $tab-state;
  }

  &:focus {
    color: $base-primary;

    &::before {
      background-color: $tab-state;
    }
  }
}

.price-tabs__price-cards {
  @include list-reset;
}

.price-tabs__price-card {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: $tablet-width) {
  .price-tabs__list {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .price-tabs__button {
    font-size: 18px;
    line-height: 18px;
  }

  .price-tabs__price-card {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .price-tabs__list {
    width: fit-content;
    min-width: 350px;
    margin-bottom: 40px;
  }

  .price-tabs__button {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 20px;
  }

  .price-tabs__price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .price-tabs__price-card {
    margin-bottom: 0;
  }
}
