.price-card {
  display: flex;
  flex-direction: column;
  padding: 43px 35px;
  text-align: center;
  background-color: $base-white;
  border-width: 7px;
  border-style: solid;
  border-color: $base-white;

  &:has(.price-card__button:hover),
  &:has(.price-card__button:focus),
  &:has(.price-card__button:active) {
    border-image: $alt-bg-btn-gradient;
    border-image-slice: 1;
  }
}

.price-card__title {
  margin-bottom: 18px;
}

.price-card__description {
  margin: 0;
  margin-bottom: 18px;
}

.price-card__price {
  position: relative;
  display: flex;
  column-gap: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 48px 37px 0;
  flex-grow: 1;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: $base-secondary;

  &::before {
    content: attr(data-value);
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: $price-shadow;
    opacity: 0.48;
  }
}

.price-card__value {
  position: relative;
  z-index: 1;
}

.price-card__value-icon {
  position: relative;
  z-index: 1;

  svg {
    width: 24px;
    height: 33px;
  }
}

.price-card__button {
  width: 206px;
  margin: 18px auto 0;
}

@media (min-width: $tablet-width) {
  .price-card {
    padding: 58px;
  }

  .price-card__title {
    margin-bottom: 22px;
  }

  .price-card__description {
    margin-bottom: 18px;
  }

  .price-card__price {
    column-gap: 14px;
    padding: 50px 42px 0;
    font-size: 60px;
    line-height: 90px;

    &::before {
      left: 24px;
      font-size: 100px;
      line-height: 150px;
    }
  }

  .price-card__value-icon {
    svg {
      width: 32px;
      height: 42px;
    }
  }

  .price-card__button {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .price-card__title {
    margin-bottom: 17px;
  }

  .price-card__description {
    margin-bottom: 17px;
  }

  .price-card__price {
    padding: 61px 32px 0;

    &::before {
      left: 14px;
    }
  }

  .price-card__button {
    margin-top: 17px;
  }
}
