.price-tabs__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.price-tabs__button {
  padding: 0;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $alt-grey-opacity;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-underline-position: under;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: rgba(16, 38, 84, 0.7);
    text-decoration-color: #787878;
  }

  &:focus {
    color: $base-primary;
    text-decoration-color: $base-primary;
  }

  &:active {
    color: $base-primary;
    text-decoration-color: $bg-banner;
  }

  &:disabled {
    color: $base-primary;
    text-decoration-color: $base-primary;
    opacity: 0.3;
    pointer-events: none;
  }

  &--active {
    color: $base-primary;
    text-decoration-color: $tab-state;
    pointer-events: none;
  }
}

.price-tabs__price-cards {
  @include list-reset;
}

.price-tabs__price-card {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: $tablet-width) {
  .price-tabs__list {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  .price-tabs__button {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .price-tabs__list {
    width: 350px;
    margin-bottom: 40px;
  }

  .price-tabs__button {
    font-size: 20px;
    line-height: 20px;
    text-underline-offset: 9px;
  }

  .price-tabs__price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .price-tabs__price-card {
    margin-bottom: 0;
  }
}
