.registry {
  padding-top: 71px;
  padding-bottom: 70px;
  color: $base-white;
  background-color: $base-primary;
}

.registry__title {
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .registry {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .registry__form {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .registry {
    padding-top: 60px;
    padding-bottom: 60px;

    // border-top: 1px solid $base-primary;
  }

  .registry__wrapper {
    width: 580px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    padding-right: 103px;
  }

  .registry__title {
    margin-bottom: 27px;
  }

  .registry__form {
    width: auto;
  }
}
