.registry {
  padding-top: 70px;
  padding-bottom: 70px;
  color: $base-white;
  background-color: $base-primary;
}

.registry__title {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .registry {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .registry__form {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .registry__wrapper {
    width: auto;
    padding-left: 0;
  }

  .registry__form {
    width: auto;
  }
}
