.reviews {
  padding-top: 40px;
  padding-bottom: 40px;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__slider {
  width: 240px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .reviews__slider {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .reviews__title {
    margin-bottom: 75px;
  }

  .reviews__slider {
    width: 778px;
  }
}
