.slider {
  position: relative;
}

.slider--reviews {
  .slider__swiper {
    box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  }
}

.slider__wrapper {
  align-items: stretch;
}

.slider .slider__button {
  display: none;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $base-primary;
    width: 16px;
    height: 32px;
    mask-image: url("../../__spritemap#sprite-slider-arrow-view");
    mask-repeat: no-repeat;
    mask-size: 17px 31px;
    mask-position: center;
    transform: translate(-50%, -50%);
  }

  &:hover {
    border-color: $base-primary;
  }

  &:focus {
    border-color: $base-primary;
    background-color: $price-shadow;
  }

  &:active {
    border-color: $base-primary;
    background-color: $base-primary;

    &::after {
      background-color: $base-white;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;

    &:hover {
      border: none;
      background-color: transparent;
    }
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;

    &:focus {
      border-color: transparent;
      background-color: transparent;
    }
  }

  &--prev {
    left: -10px;
  }

  &--prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &--next {
    right: -10px;
  }
}

.slider .slider__slide {
  height: auto;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    padding-left: 59px;
    padding-right: 59px;

    .slider__button {
      display: flex;
      margin-top: -29px;

      &--prev {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }

    &--reviews {
      padding-left: 98px;
      padding-right: 98px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-left: 71px;
    padding-right: 71px;

    &--reviews {
      padding: 0 121px;
    }

    .slider__button {
      display: flex;
      margin-top: -29px;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }
}
