.title-middle {
  margin: 0;
  font-family: $secondary-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-primary;

  &--center {
    text-align: center;
  }

  &--light {
    color: $base-white;
  }

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;

    text-align: center;

    &--alternative {
      font-size: 54px;
      line-height: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: left;

    &--center {
      text-align: center;
    }
  }
}
